<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/tailwind.css">
</head>
<body>
    <%- include('../partials/header') %>

    <div style="display: flex;">
        <%- include ('../partials/sidebar') %>
        <div style=" margin-top: 1%;" class="container mx-auto px-4">
            <h2 class="text-2xl font-bold text-gray-800 mb-4">Student Profiles</h2>

            <div class="overflow-x-auto bg-white shadow-md rounded-lg">
                <table class="w-full mt-6 table-auto">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="px-4 py-2 border">Name</th>
                            <th class="px-4 py-2 border">Birthday</th>
                            <th class="px-4 py-2 border">Address</th>
                            <th class="px-4 py-2 border">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% profiles.forEach(profile => { %>
                            <tr class="text-center hover:bg-gray-100">
                                <td class="px-4 py-2 border"><a href="api/etudiant/profile/<%= profile._id %>"><%= profile.firstName %> <%= profile.lastName %></a></td>
                                <td class="px-4 py-2 border"><%= new Date(profile.birthday).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %></td>
                                <td class="px-4 py-2 border"><%= profile.address %></td>
                                <td class="px-4 py-2 border">
                                    <button class="text-red-500 hover:text-red-700 ml-4" onclick="deleteProfile('<%= profile._id %>')">Delete</button>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        function deleteProfile(profileId) {
            if (confirm("Are you sure you want to delete this profile?")) {
                fetch(`api/etudiant/supprimerProfile/${profileId}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                .then(response => {
                    if (response.ok) {
                        alert('Profile deleted successfully.');
                        location.reload();
                    } else {
                        alert('Failed to delete the profile.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred while deleting the profile.');
                });
            }
        }
    </script>
</body>
</html>
